/huh.py
/Kun41 - Krewella - Say Goodbye (Nightcore & Cut Ver.) [Another] (2025-11-27) Osu.osr
/Kun41 - Krewella - Say Goodbye (Nightcore & Cut Ver.) [Fuxi's Insane] (2025-11-27) Osu.osr
/osuparser.py
/X41 - Drop - Granat [Insane] (2025-11-29) Osu.osr